bin/
XppMetadata/
*.log
Resources/
BuildProjectResult.err.xml
BuildProjectResult.xml
BuildModelResult.xml
CompileLabels.xml
CompileLabels.xml
BuildModelResult.xml
BuildModelResult.xml
BuildModelResult.xml
BuildProjectResult.xml
CompileLabels.xml
Resources/ar-SA/Trax_BajaLabel.resources.dll
Resources/en-US/Trax_BajaLabel.resources.dll
/Resources
